
R_Clinic/.Rhistory
R_Clinic/.Rproj.user/BCCCBBDA/pcs/files-pane.pper
R_Clinic/.Rproj.user/BCCCBBDA/pcs/source-pane.pper
R_Clinic/.Rproj.user/BCCCBBDA/pcs/windowlayoutstate.pper
R_Clinic/.Rproj.user/BCCCBBDA/pcs/workbench-pane.pper
R_Clinic/.Rproj.user/BCCCBBDA/rmd-outputs
R_Clinic/.Rproj.user/BCCCBBDA/saved_source_markers
R_Clinic/.Rproj.user/BCCCBBDA/sources/per/t/D047E888
R_Clinic/.Rproj.user/BCCCBBDA/sources/per/t/D047E888-contents
R_Clinic/.Rproj.user/BCCCBBDA/sources/per/t/F7A0EB00
R_Clinic/.Rproj.user/BCCCBBDA/sources/per/t/F7A0EB00-contents
R_Clinic/.Rproj.user/BCCCBBDA/sources/per/u/6B0F2ABC
R_Clinic/.Rproj.user/BCCCBBDA/sources/per/u/6B0F2ABC-contents
R_Clinic/.Rproj.user/BCCCBBDA/sources/prop/BEAE8B86
R_Clinic/.Rproj.user/BCCCBBDA/sources/prop/C5F9B00C
R_Clinic/.Rproj.user/BCCCBBDA/sources/prop/DE228E32
R_Clinic/.Rproj.user/BCCCBBDA/sources/prop/INDEX
R_Clinic/.Rproj.user/BCCCBBDA/viewer-cache/1C86BBD6.Rdata
R_Clinic/.Rproj.user/shared/notebooks/patch-chunk-names
R_Clinic/.Rproj.user/shared/notebooks/paths
R_Clinic/Codebuecher/codebook_12425_Welle 1.xls
R_Clinic/Codebuecher/codebook_12425_Welle 2.xls
R_Clinic/Codebuecher/codebook_12425_Welle 3.xls
R_Clinic/dezim_aar_long_c_100.dta
R_Clinic/dezim_aar_wide_c_100.dta
R_Clinic/R_Clinic.Rproj
